
* {
    box-sizing: border-box;
}

@import "variables";
@import "mixins";
@import "grid";
// ----- Begin Styles ----- //
body {
    padding: 0;
    margin: 0;
}

a {
    color: $link-color; // Using our link color variable
    @include ease; // Including our ease mixin
    &:hover {
        color: $link-color_hover; // Using the other link color variable
    }
}

img,
iframe {
    width: auto;
    max-width: 100%;
}

// Type
p {
    font-family: $font-sm;
    font-size: 16px;
    line-height: 23px;
    font-weight: 100;
}

h2 {
    font-family: $font-san;
    font-weight: normal;
    font-size: 21px;
    line-height: 23px;
    letter-spacing: 2px;
}

h1 {
    font-family: $font-sm;
    font-weight: 700;
    font-size: 46px;
}

// Header
header {
    background: white;
    text-align: center;
    margin: 10px 0 -30px 0;
    body#home & {
        margin-bottom: 0;
    }
    .row {
        margin-bottom: 0;
    }
    @include breakpoint ($tablet) {
        text-align: center;
    }
     a {
        margin-right: 40px;
        font-size: 12px;
        text-decoration:none;
         text-transform: uppercase;
        font-family: $font-sanbd;
        &:last-of-type {
            margin: 0;
        }
}

.logo {
    max-width: 130px;
    @include breakpoint ($tablet) {
        float: none;
        width: 80px;
    }
}
}

   

// Hero
.hero {
@include background-image;
        background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/sunrise1.jpg");
        background-color: $dark-gray;
    min-height: 500px;
    margin-top: -20px;
    
    h1 {
        color: white;
        padding: 200px 250px 0 250px;
        text-align: center;
        font-family: $font-lg;
    }
}
// Who
.who {
    background-color: white;
    padding: 120px 0 120px 0;
    
    h2, p {
        font-size: 19px;
        padding-left: 20px;
    }
    img {
        margin-top: 2px;
    }
}

// Info
.info {
           @include background-image;
        background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://images.unsplash.com/photo-1415696036885-d2902d10ed4e?q=80&fm=jpg&s=24f485ea726a3d7e920b8dedd9b45e06);
    padding: 50px 0 50px 0;
    
    .one-third {
        background: white;
        padding: 10px 30px 10px 30px;
        min-height: 370px;
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    h2 {
        text-align: center;
        min-height: 40px;
    }
    p {
        font-size: 17px;
    }
}

.touch {
    padding: 70px 0 70px 0;
    
    h1 {
        font-size: 30px;
        text-align: center;
        margin-bottom: -5px;
    }
    h2 {
        font-size: 14px;
        text-align: center;
    }
}
// Footer
footer {
    background: #a03533;
    padding: 100px 0 100px 0;
    text-align: center;
    h1 {
        color: white;
        font-size: 40px;
        font-family: $font-sm;
    }
    h2, a {
        font-size: 13px;
        color: white;
        text-decoration: none;
    }
    p {
        font-size: 11px;
    }
}
